.env
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
instance/
*.log
.idea/
.vscode/
*.swp
.DS_Store
celerybeat-schedule
celerybeat-schedule.db
node_modules/